#include <windows.h>
#include <ntverp.h>

#undef VER_PRODUCTNAME_STR

#define VER_FILETYPE                    VFT_DRV
#define VER_FILESUBTYPE                 VFT2_DRV_SYSTEM
#define VER_FILEDESCRIPTION_STR         "Allwinner SMHC SD/MMC Host Controller Miniport"
#define VER_INTERNALNAME_STR            "awmmc.sys"
#define VER_ORIGINALFILENAME_STR        "awmmc.sys"
#define VER_PRODUCTNAME_STR             VER_FILEDESCRIPTION_STR

#include "common.ver"
